@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&family=Markazi+Text:wght@400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #edefee;
    font-family: 'Outfit', sans-serif;
    line-height: 1.5;
    margin: 30px 50px;
    font-size: 18px;
}

.header-logo{
    display: block;
    width: 300px;
    height: 200px;
    margin: 10px auto 50px;
}

nav{
    background-color: #333333;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 20px;
}


nav li{
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    padding: 0 10px;
}

li a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    padding: 5px;
}

li a:hover{
    background-color: #aaa;
    border-radius: 5px;
}


.discount-content{
    background: url(./Hair-Day-logos/banner.png) no-repeat;
    background-size: 100%;
    height: 700px;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
}


.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services{
    display: grid;
    gap: 20px;
    background-color: cornsilk;
    padding: 20px;
    border-radius: 10px;
}

.footer-logo{
    display: block;
    width: 576px;
}

footer{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 10px;
}